<?xml version="1.0"?>
<data>
	<event>
		<id>1</id>
		<req>
			<human>0,100</human>
			<cash>400,100000</cash>
			<robot>0,100</robot>
			<happy>70,100</happy>
		</req>
		<message>Your factory has been offered the WorkerBot, which is believed to outperform human workers.</message>'
		<dialogue>1</dialogue>
		<map></map>
		<options>
			<o1>
				<message>Purchase a robot</message>
				<result>
					<human>-10</human>
					<cash>-500</cash>
					<robot>10</robot>
					<happy>0</happy>
					<dialogue>2</dialogue>
					<map></map>
					<event>2</event>
				</result>
			</o1>
			<o2>
				<message>Ignore the offer</message>
				<result>
					<human>0</human>
					<cash>0</cash>
					<robot>0</robot>
					<happy>0</happy>
					<map></map>
					<dialogue></dialogue>
					<event></event>
				</result>
			</o2>
			<o3>
				<message></message>
				<result>
					<human></human>
					<cash></cash>
					<robot></robot>
					<happy></happy>
					<dialogue></dialogue>
					<map></map>
					<event></event>
				</result>
			</o3>
			<o4>
				<message></message>
				<result>
					<human></human>
					<cash></cash>
					<robot></robot>
					<happy></happy>
					<dialogue></dialogue>
					<map></map>
					<event></event>
				</result>
			</o4>
		</options>
	</event>
	<event>
		<id>2</id>
		<req>
			<human>0,0</human>
			<cash>400,100000</cash>
			<robot>0,100</robot>
			<happy>70,100</happy>
		</req>
		<message>You bought a robot</message>'
		<dialogue>3</dialogue>
		<map></map>
		<options>
			<o1>
				<message></message>
				<result>
					<human>-10</human>
					<cash>-500</cash>
					<robot>10</robot>
					<happy>0</happy>
					<dialogue>2</dialogue>
					<map></map>
					<event></event>
				</result>
			</o1>
			<o2>
				<message></message>
				<result>
					<human>0</human>
					<cash>0</cash>
					<robot>0</robot>
					<happy>0</happy>
					<map></map>
					<dialogue></dialogue>
					<event></event>
				</result>
			</o2>
			<o3>
				<message></message>
				<result>
					<human></human>
					<cash></cash>
					<robot></robot>
					<happy></happy>
					<dialogue></dialogue>
					<map></map>
					<event></event>
				</result>
			</o3>
			<o4>
				<message></message>
				<result>
					<human></human>
					<cash></cash>
					<robot></robot>
					<happy></happy>
					<dialogue></dialogue>
					<map></map>
					<event></event>
				</result>
			</o4>
		</options>
	</event>	
</data>