<?xml version="1.0"?>
<data>
	<event>
		<id>0</id>
		<req>
			<chance>100</chance>
			<tolerance></tolerance>
			<human></human>
			<cash></cash>
			<robot></robot>
			<happy></happy>
		</req>
		<message>You've become the newly appointed manager of a factory that produces computer chips. As the manager you must keep the factory open or you will be fired. The info boxes above represent: Worker Happiness, Number of Humans, Number of Robots, and Amount of Cash. Worker happiness will create bonuses and penalties for human workers. If you run out of cash than the factory must close.</message>
		<dialogue></dialogue>
		<map></map>
		<options>
			<o1>
				<message>Ok. Let's begin.</message>
				<result>
					<human>5</human>
					<cash>5000</cash>
					<robot>0</robot>
					<happy>60</happy>
					<tolerance>60</tolerance>
					<wage>15</wage>
					<efficiency>30</efficiency>
					<dialogue></dialogue>
					<map></map>
					<event>1</event>
				</result>
			</o1>
			<o2>
				<message></message>
				<result>
					<human>0</human>
					<cash>0</cash>
					<robot>0</robot>
					<happy>0</happy>
					<map></map>
					<dialogue></dialogue>
					<event></event>
				</result>
			</o2>
			<o3>
				<message></message>
				<result>
					<human></human>
					<cash></cash>
					<robot></robot>
					<happy></happy>
					<dialogue></dialogue>
					<map></map>
					<event></event>
				</result>
			</o3>
			<o4>
				<message></message>
				<result>
					<human></human>
					<cash></cash>
					<robot></robot>
					<happy></happy>
					<dialogue></dialogue>
					<map></map>
					<event></event>
				</result>
			</o4>
		</options>
	</event>		
	<event>
		<id>1</id>
		<req>
			<chance>100</chance>
			<tolerance></tolerance>
			<human></human>
			<cash></cash>
			<robot></robot>
			<happy></happy>
		</req>
		<message>While browsing your terminal, you see an advertisement about a new robot.                                                                 Newly Released From Rossum Robotics: ILLA (Integrated Learning Laborer's Assistant) Guaranteed to increase factory productivity by 30%! Order today for only $4000!</message>
		<dialogue>1</dialogue>
		<map></map>
		<options>
			<o1>
				<message>Purchase an ILLA.</message>
				<result>
					<human>0</human>
					<cash>-4000</cash>
					<robot>1</robot>
					<happy>0</happy>
					<tolerance>0</tolerance>
					<wage>0</wage>
					<efficiency>0</efficiency>
					<dialogue>3</dialogue>
					<map></map>
					<event></event>
				</result>
			</o1>
			<o2>
				<message>No way! I'm afraid of ILLA.</message>
				<result>
					<human>0</human>
					<cash>0</cash>
					<robot>0</robot>
					<happy>0</happy>
					<map></map>
					<dialogue></dialogue>
					<event></event>
				</result>
			</o2>
			<o3>
				<message></message>
				<result>
					<human></human>
					<cash></cash>
					<robot></robot>
					<happy></happy>
					<dialogue></dialogue>
					<map></map>
					<event></event>
				</result>
			</o3>
			<o4>
				<message></message>
				<result>
					<human></human>
					<cash></cash>
					<robot></robot>
					<happy></happy>
					<dialogue></dialogue>
					<map></map>
					<event></event>
				</result>
			</o4>
		</options>
	</event>	
	<event>
		<id>3</id>
		<req>
			<chance>50</chance>
			<tolerance></tolerance>
			<human></human>
			<cash></cash>
			<robot></robot>
			<happy></happy>
		</req>
		<message>While browsing your terminal, you see a headline about recent development in the industry.                                             GRan</message>
		<dialogue>1</dialogue>
		<map></map>
		<options>
			<o1>
				<message>Purchase an ILLA.</message>
				<result>
					<human></human>
					<cash>-1000</cash>
					<robot>1</robot>
					<happy>0</happy>
					<tolerance>0</tolerance>
					<wage>0</wage>
					<efficiency>0</efficiency>
					<dialogue>3</dialogue>
					<map></map>
					<event>3s</event>
				</result>
			</o1>
			<o2>
				<message>No way! I'm afraid of ILLA.</message>
				<result>
					<human>0</human>
					<cash>0</cash>
					<robot>0</robot>
					<happy>0</happy>
					<map></map>
					<dialogue></dialogue>
					<event>3</event>
				</result>
			</o2>
			<o3>
				<message></message>
				<result>
					<human></human>
					<cash></cash>
					<robot></robot>
					<happy></happy>
					<dialogue></dialogue>
					<map></map>
					<event></event>
				</result>
			</o3>
			<o4>
				<message></message>
				<result>
					<human></human>
					<cash></cash>
					<robot></robot>
					<happy></happy>
					<dialogue></dialogue>
					<map></map>
					<event></event>
				</result>
			</o4>
		</options>
	</event>	
</data>